.flickity-enabled{position:relative;}
.flickity-enabled:focus{outline:none;}
.flickity-viewport{overflow:hidden;position:relative;cursor:-webkit-grab;cursor:grab;}
.flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing;}
.flickity-slider{position:absolute;width:100%;}
.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:white;background:hsla(0, 0%, 100%, 0.75);cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.flickity-prev-next-button.previous{left:10px;}
.flickity-prev-next-button.next{right:10px;}
.flickity-prev-next-button:disabled{opacity:0.3;cursor:auto;}
.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%;}
.flickity-prev-next-button .arrow{fill:#333;}
.flickity-prev-next-button.no-svg{color:#333;font-size:26px;}
.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1;}
.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:0.25;cursor:pointer;}
.flickity-page-dots .dot.is-selected{opacity:1;}